  <div class="container">
    <%= simple_form_for(relay_point) do |f| %>

      <div class="row">
          <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">

            <div class="row">

                <%= f.input :name, label: "Nom", placeholder: 'Entrez le nom' %>
                <%= f.input :name_shopify, label: "Nom shopify", placeholder: 'Entrez le nom shopify'  %>
                <%= f.input :address, label: "Adresse", placeholder: "Entrez l'adresse" %>
                <%= f.input :phone_number, label: "N° de téléphone", placeholder: 'Entrez le numéro' %>
                <%= f.input :hours, label: "Horaires", placeholder: "Entrez l'horaire" %>
                <%= f.input :localisation, label: "Localisation" %>
              <div class="col-xs-12 col-sm-6">
                <%= f.input :contact, label:"Contact", placeholder: 'Entrez le nom du contact' %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <%= f.input :status, as: :select, collection: ["actif", "inactif"] %>
              </div>
                <%= f.input :commune, label:"Commune", as: :select, collection: ["Ajoupa-Bouillon","Anses-d'Arlet", "Basse-Pointe", "Bellefontaine", "Carbet", "Case-Pilote", "Diamant", "Ducos", "Fonds-Saint-Denis", "Fort-de-France", "François", "Grand-Rivière", "Gros-Morne", "Lamentin", "Lorrain", "Macouba","Marigot", "Marin", "Morne-Vert","Morne-Rouge", "Prêcheur", "Rivière-Pilote", "Rivière-Salée", "Robert", "Saint-Esprit", "Saint-Joseph", "Saint-Pierre", "Sainte-Anne", "Sainte-Luce", "Sainte-Marie", "Schoelcher", "Trinité", "Trois-Ilets", "Vauclin"]%>
                <%= f.input :image_shopify, label: "Photo", placeholder: 'Ajoutez une photo' %>
            </div>
          </div>
        </div>
      </div>
     <div class= "col-12 col-md-8 col-lg-5 offset-md-2 offset-lg-4">
       <%= f.submit "Valider", class:"btn btn-danger" %>
     </div>
    <% end %>
  </div>
