<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0246/4035/6429/files/bon-vivant-Ooj1c6fhdFM-unsplash_1_2_1900x.jpg?v=1641256074);">

  <div class="container">
    <h1>Bienvenue sur le site des points-relais <strong>Ta Nou </strong></h1>
    <h3><strong> Des produits 100% bio et locaux pour votre santé </strong></h3>
  </div>
</div>

<div class="card-link-index">
  <% if admin_signed_in? %>
    <%= link_to "Créer nouveau point-relais", new_relay_point_path, class: "btn-index"%>
  <% end %>
</div>


<div class= "background-color">
  <div class="container">
    <div class="row">
      <% @relay_points.each do |relay_point| %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to relay_point_path(relay_point) do %>
            <div class="card-product">
              <img src=<%= relay_point.image_shopify %>>
              <div class="card-product-infos">
                <h2><%= relay_point.name %></h2>
                <p><strong><%= relay_point.address %></strong></p>
                <p><strong><%= relay_point.hours %></strong></p>
                <p><strong><%= relay_point.phone_number %></strong></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
