<h2><%= @relay_point.name %></h2>
<p><%= @relay_point.name_shopify %></p>
<p><%= @relay_point.name_common %></p>
<p><%= @relay_point.hours %></p>
<p><%#= @relay_point.geolocalisation %></p>
<p><%= @relay_point.address %></p>
<p><%= @relay_point.contact %></p>
<p><%= @relay_point.commune %></p>
<p><%= @relay_point.disponibility %></p>
<p><%= @relay_point.phone_number %></p>
