<div class="container">
  <div class="card-relay-point">
    <div class="image">
    </div>
    <div class="content">
      <h2><%= @relay_point.name %></h2>
      <p><%= @relay_point.name_shopify %></p>
      <p><%= @relay_point.name_common %></p>
      <p><%= @relay_point.hours %></p>
      <p><%= @relay_point.localisation %></p>
      <p><%= @relay_point.address %></p>
      <p><%= @relay_point.contact %></p>
      <p><%= @relay_point.commune %></p>
      <p><%= @relay_point.phone_number %></p>
      <%= link_to 'localisation', relay_point_path(@relay_point), class: "btn btn-primary position-absolute top-100 start-50 translate-middle btn-block" %>

    </div>
  </div>
</div>


<%= link_to "Delete #{@relay_point.name}",
            relay_point_path(@relay_point),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
