<div class="background-img">

  <%= link_to "< Retour",
    relay_points_path, class:"btn btn-warning"%>


<div class="container m-12">
  <div class="card">
    <img src=<%= @relay_point.image_shopify %>>
      <div class= "card-info" >
        <div>
          <h2><%= @relay_point.name %></h2></div>
        <div>
          <p><strong>Nom shopify:</strong> <%= @relay_point.name_shopify %>
          <p><strong>Nom commun:</strong> <%= @relay_point.name_common %>
          <p><strong>Adresse:</strong> <%= @relay_point.address %></p>
          <p><strong>Commune:</strong> <%= @relay_point.commune %></p>
          <p><strong>Numéro de téléphone:</strong> <%= @relay_point.phone_number %></p>
          <p><strong>Status:</strong> <%= @relay_point.status %></p>
          <p><strong>Horaires:</strong> <%= @relay_point.hours %></p>
        </div>
      </div>
      <div class="card-link">
        <div>
          <%= link_to "Modifier ce point relais",
            edit_relay_point_path(@relay_point)%>
        </div>
        <div>
          <%= link_to "Supprimer ce point relais",
            relay_point_path(@relay_point),
            method: :delete,
            data: { confirm: "Êtes-vous sûr?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
