<!DOCTYPE html>
<html>
  <head>
    <title>RelayPoints</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
=======
    <div class='vh-50'>
      <%= yield %>
    </div>
>>>>>>> 8fcc80e78b5a8ab732a5c408531db09a562a78d7
  </body>
</html>
